:root {
    --bg-color: #ffffff;
    --primary-color: #3F7373;
    --second_color: #732B1A;
    --terc-color: #A64826;
    --quart-color: #BF754B;
    --quint-color: #BABDBF; 
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 2px solid red; /* Apenas para visualizar melhor o layout */
  }

.Header{
    display: flex;
    height: 95px;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.Header_Info{
    display: flex;
    width: 50%;
    height: 60px;
    background-color: var(--quint-color);
    border-radius: 0px 0px 0px 50px;
    justify-content: space-between;
  
}
.Contato {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second_color);
    height: 100%;
    width: 40%;
    border-radius: 0px 0px 0px 50px;
    color: #ffffff;
    font-weight: bolder;
    gap: 8px;
}
.Icons{
    width: 30px;
    height: 30px;
    color: #ffffff;
}
.Ajuda{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.Minhas_viagens {
    display: flex;
    align-items: center;
    gap: 8px;
}
.Login{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
a{ 
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    color: black;
}
.Telefone {
    color: #ffffff;
}
.Nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.Nav_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Icon_nav{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    
}
.Icon_nav:hover {
    background-color: var(--primary-color);
}
.Pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    height: 220px;
    width: 100%;

}
.Pesquisa_area{
    display: flex;
    flex-direction: column;
    background-color: var(--second_color);
    height: 90%;
    width: 85%;
    border-radius: 10px;
}
.Pesquisa_area_dados{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Pesquisa_area_input{
    background-color:#ffffff;
    height: 110px;
    width: 98%;
    border-radius: 10px;
}  
.btn{
    border-radius: 50px;
    height: 40px;
    border: 5x solid white;
}
.btn:active {
    background-color: var(--second_color);
}
.Input_check{
    display: none;
}
.Check .Input_check:checked ~ .Check{
    background-color: var(--primary-color);
}
.Check{
    background-color: #ffffff;
}
.Input_text {
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    gap:5px

    
}
.Campo_input{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
